<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="apache.log4net.Extensions.Logging" version="2.0.0.12" targetFramework="net48" />
  <package id="Dapper" version="2.1.66" targetFramework="net48" />
  <package id="ExCSS" version="4.3.1" targetFramework="net48" />
  <package id="log4net" version="2.0.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="ShimSkiaSharp" version="3.4.1" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.9" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.9" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.9" targetFramework="net48" />
  <package id="Svg.Custom" version="3.4.1" targetFramework="net48" />
  <package id="Svg.Model" version="3.4.1" targetFramework="net48" />
  <package id="Svg.Skia" version="3.4.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="10.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>